/* 
Notes On Website:

font-family: Inter, system-ui
--tw-text-opacity: 1;
--tw-bg-opacity: 1;
logo color: rgb(36, 62, 99) 
header color: rgb(26 32 44)
gray color: rgb(124 139 161)
another gray: rgb(36 62 99);
purple color: rgb(100 21 255)
purple hover color: rgb(80 17 204);
*/

/*

GENERAL -----------------------------

*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(26 32 44);
  /* color: rgb(36, 62, 99) */
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 32px; /* small screens? idk it was on the page */
}

h1,
h4,
h5 {
  font-weight: 700;
}

h2 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 1.2px;
  line-height: 1.25;
  margin-top: 16px;
}

h2,
h4 {
  color: #243e63;
}

h5 {
  color: rgb(100 21 255);
  letter-spacing: 1.6px;
  font-size: 16px;
}

p {
  font-size: 18px;
  line-height: 1.625;
}

a,
a:visited,
button {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  min-width: 0;
}

.row {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.row-sm {
  max-width: 1024px;
}

.container {
  padding: 96px 0;
}

.btn {
  background-color: rgb(100 21 255);
  border-radius: 9999px;
  overflow: hidden;
  border: none;
  color: rgb(237 242 247);
  font-weight: 600;
  transition: background-color 250ms ease-out;
  padding: 12px 32px;
  font-size: 14px;
}

.btn:hover {
  background-color: rgb(80 17 204);
}

.btn--white {
  background-color: #e2e8f0;
  color: rgb(100 21 255);
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex--reverse {
  flex-direction: row-reverse;
}

.text--center {
  text-align: center;
}

.text--purple {
  color: rgb(100 21 255) !important;
}

.text--white {
  color: white !important;
}

.border--light-purple {
  border-color: rgba(102, 126, 234) !important;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex--reverse {
  flex-direction: row-reverse;
}

.text--center {
  text-align: center;
}

.text--purple {
  color: rgb(100 21 255);
}

.ms-48 {
  margin-left: 48px;
}

.m-0 {
  margin: 0;
}

/* 
.text--dark-gray {
  color: #243e63;
}

.text--medium-gray {
  color: #4a5568;
}

.text--gray {
  color: #7c8ba1;
}

.text--light-gray {
  color: #718096;
} 
*/

/* 

NAV --------------------------

*/

.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo--wrapper {
  width: 40px;
  margin-right: 12px;
}

.nav__logo--text {
  font-weight: 900;
  font-size: 1.5rem;
  margin-right: 24px;
  padding-bottom: 4px;
  color: rgb(36, 62, 99);
  letter-spacing: 0.6px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link--list-item {
  list-style-type: none;
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
}

.nav__link--anchor {
  color: rgb(36, 62, 99);
  padding-bottom: 4px;
  border-bottom: solid 2px transparent;
  transition: border-color 250ms ease-out, color 250ms ease-out;
  letter-spacing: 0.35px;
}

.nav__link--list-item:hover .nav__link--anchor {
  border-color: rgb(100 21 255);
  color: rgb(100 21 255);
}

/* HEADER */

.header__left--container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header__title {
  font-size: 3rem;
  line-height: 1.25;
}

.header__description {
  margin: 32px 0;
}

.header__input--wrapper {
  border: 2px solid #e2e8f0;
  display: inline;
  border-radius: 999px;
  padding: 6px 8px;
  transition: border-color 300ms ease;
}

.header__input--wrapper:hover {
  border-color: #cbd5e2;
}

.header__input--wrapper:focus-within {
  border-color: rgb(100 21 255);
}

.header__input--email {
  border: none;
  border-width: 0;
  margin-left: 24px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(36, 62, 99);
  /* padding: 20px 32px; */
}

.header__input--email:focus {
  outline-width: 0;
}

.header__input--email::placeholder {
  color: #cbd5e2;
}

.header__logo-strip--text {
  text-transform: uppercase;
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
}

.header__logo-strip--img {
  margin-top: 16px;
  opacity: 0.5;
  padding-right: 128px;
}

.header__right--container {
  width: 750px;
}

.header__btn {
  padding: 16px 32px;
  font-size: 16px;
}

/* 

HIGHLIGHTS

*/

.features__container {
  color: #7c8ba1;
}

.features__title {
  padding: 16px 0;
}

.features__sub-title {
  font-size: 18px;
  max-width: 580px;
  line-height: 1.625;
  color: #7c8ba1;
}

.features__highlights-list {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* .highlight {
  width: calc(100%/3);
} */

.highlight--container {
  width: calc(100% / 3);
  padding: 32px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.highlight__img--wrapper {
  padding: 20px;
  border-radius: 999px;
  border: solid 1px rgb(226, 232, 240);
}

.highlight__img {
  width: 24px;
}

.highlight--text-wrapper {
  margin-left: 16px;
  margin-top: 8px;
  text-align: start;
}

.highlight__title {
  font-size: 24px;
}

.highlight__description {
  font-size: 16px;
  margin-top: 16px;
  line-height: 2;
  color: #7c8ba1;
}

/* 

QUALITY

*/

.quality--left-container {
  width: 50%;
  padding-right: 64px;
  margin: 32px 0;
}

.quality--right-container {
  width: 50%;
}

.quality__description {
  margin-top: 16px;
}

.quality__description {
  color: #7c8ba1;
}

.quality__btn {
  margin-top: 32px;
}

/* 

STEPS

*/

.steps--left-container {
  width: 50%;
}

.steps--right-container {
  margin-left: 64px;
}

.steps--list-container {
  margin-top: 48px;
}

.step--wrapper {
  display: flex;
}

.step--text-wrapper {
  margin-left: 24px;
  max-width: 320px;
}

.step__number {
  font-size: 36px;
  color: #cbd5e2;
  font-weight: 600;
}

.step__title {
  font-size: 20px;
  color: #243e63;
}

.step__description {
  color: #718096;
  font-size: 14px;
  margin-top: 12px;
  line-height: 2;
}

/*

VALUES

*/

.values--left-container {
  margin-right: 64px;
  max-width: calc(50% - 64px);
}

.values__above-title {
}

.values__title {
}

.values__description {
  color: #7c8ba1;
  font-size: 18px;
  margin-top: 32px;
}

.values--list-container {
  align-items: start;
}

.value--container {
  margin-top: 32px;
  margin-right: 32px;
}

.value__title--wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}

.value__icon--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 9999px;
}

.icon--money {
  color: rgb(39 103 73);
  background-color: rgb(154 230 180);
}

.icon--briefcase {
  color: rgb(155 44 44);
  background-color: rgb(254 178 178);
}

.value__icon {
  width: 20px;
  opacity: calc(200% / 3);
}

.value__title {
  margin-left: 12px;
  font-size: 20px;
}

.value__description {
  margin-top: 16px;
  color: #718096;
  font-size: 16px;
}

.values__btn {
  margin-top: 48px;
}

.values--right-container {
  max-width: 640px;
}

/* 

PRICING

*/
.pricing__description {
  margin-top: 16px;
  color: #7c8ba1;
  max-width: 576px;
}

.plans--container {
  display: flex;
  align-items: flex-start;
  margin-top: 64px;
}

.plan--container {
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 /* horizontal */ 8px /* vertical offset */ 16px /* blur */
    rgba(0, 0, 0, 0.2); /* red green blue alpha (alpha=opacity) */
}

.plan--wrapper {
  padding: 8px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plan__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.625;
  color: #1a202c;
  padding-top: 32px;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
  line-height: 1.625;
}

.plan__subtitle {
  color: #a0aec0;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.plan--features-container {
  padding: 32px;
  width: 100%;

  border-top: solid;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgba(226, 232, 240);
}

.plan__main-feature {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.625;
}

.plan__feature {
  margin-top: 20px;
  color: #718096;
}

.plan__btn--wrapper {
  padding: 32px 96px;
  width: 100%;
}

.plan__btn {
  padding: 16px 32px;
  width: 100%;
}

.plan__color-strip--green,
.plan__color-strip--red {
  height: 8px;
  width: 100%;
}

.plan__color-strip--green,
.plan__btn--green {
  background-image: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__color-strip--red,
.plan__btn--red {
  background-image: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan--purple-bg {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  padding-top: 8px;
  margin: 0 32px;
}

/* 

TESTIMONIALS

*/

.testimonials--left-container {
  flex: 
    0 /* flex-grow -- how much it can grow */ 
    0 /* flex shrink -- how much it shrinks */ 
    640px; /* flex basis -- starting size */
}

/*

.testimonials__img {
  width: 640px;
}

*/
.testimonials--right-container {
  padding-left: 64px;
}

.testimonials__slides--container {
  /* border: solid 2px black; */
  min-width: 576px;
  min-height: 10px;
}



.slide--girl {
  /* transform: translateX(-100%); */
}

.testimonials__subtitle {
  color: #7c8ba1;
  margin-top: 24px;
}

.testimonials__slides--container {
  margin-top: 40px;
}

.slide__star-icon {
  color: rgb(246 173 85);
}

.slide__title {
  font-size: 20px;
  margin-top: 16px;
}

.slide__description {
  margin: 16px 0 40px;
  color: #4a5568;
  font-size: 16px;
  line-height: 1.625;
}

.slide__bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide__person {
  display: flex;
}

.slide__person-img--wrapper {
  border-radius: 999999px;
  overflow: hidden;
  display: flex;
  width: 80px;
}

.slide__person--wrapper {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide__person-name {
  font-size: 20px;
  line-height: 1.5;
}

.slide__person-job {
  line-height: 1.5;
  font-size: 16px;
  color: #7c8ba1;
}

.slide__btns {
  display: flex;
}

.slide__btn {
  padding: 16px;
  margin: 0 12px;
  display: inline-block;
  background-color: rgb(237 242 247);
  border: none;
  border-radius: 50%;
  display: flex;
  transition: background-color 300ms ease;
}

.slide__btn--icon {
  color: rgb(100 21 255);
  font-size: 16px;
}

.slide__btn:hover {
  background-color: #e2e8f0;
}
