/*
Notes On Website:

font-family: Inter, system-ui
--tw-text-opacity: 1;
--tw-bg-opacity: 1;
logo color: rgb(36, 62, 99)
header color: rgb(26 32 44)
gray color: rgb(124 139 161)
another gray: rgb(36 62 99);
purple color: rgb(100 21 255)
purple hover color: rgb(80 17 204);
*/

/*

GENERAL -----------------------------

*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(26 32 44);
  /* color: rgb(36, 62, 99) */
}

body {
  padding: 32px;
}

html {
  scroll-behavior: smooth;
}

h1,
h4,
h5 {
  font-weight: 700;
}

h2 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 1.2px;
  line-height: 1.25;
  margin-top: 16px;
}

h2,
h4 {
  color: #243e63;
}

h5 {
  color: rgb(100 21 255);
  letter-spacing: 1.6px;
  font-size: 16px;
}

p {
  font-size: 18px;
  line-height: 1.625;
}

a,
a:visited,
button {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  min-width: 0;
}

/*

SPACING

*/

.container--vertical-padding {
  padding-top: 96px;
  padding-bottom: 96px;
}

.row {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 32px;
  padding-right: 32px; */
}

.row--two-cols {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-sm {
  max-width: 1024px;
}

.container--column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ms--64 {
  margin-left: 64px;
}

.me--64 {
  margin-right: 64px;
}

.mt--16 {
  margin-top: 16px;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex--reverse {
  flex-direction: row-reverse;
}

.text--center {
  text-align: center;
}

/*

REUSABLES

*/

.section__title {
  font-size: 48px;
  margin: 16px 0;
}

.section__description {
  color: #7c8ba1;
  font-size: 18px;
  line-height: 1.625
}

.section__description--container {
  max-width: 580px;
}

.btn {
  background-color: rgb(100 21 255);
  border-radius: 9999px;
  overflow: hidden;
  border: none;
  color: rgb(237 242 247);
  font-weight: 600;
  line-height: 1.5;
  transition: all 300ms ease;
  padding: 12px 32px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .btn__hover--purple {
  background-color: rgb(100 21 255);
  transition: all 300ms ease;
} */

.btn__hover--purple:hover {
  background-color: rgb(80 17 204);
}

.btn__hover--float:hover {
  transform: translateY(-2px);
  box-shadow:
    0    /* horizontal */
    8px    /* vertical offset */
    16px    /* blur */
    rgba(0, 0, 0, 0.2);    /* red green blue alpha (alpha=opacity) */
}

.btn--white {
  background-color: #e2e8f0;
  color: rgb(100 21 255);
}

.text--purple {
  color: rgb(100 21 255) !important;
}

.text--white {
  color: white !important;
}

.border--light-purple {
  border-color: rgba(102, 126, 234) !important;
}

.text--purple {
  color: rgb(100 21 255);
}

.ms-48 {
  margin-left: 48px;
}

.m-0 {
  margin: 0;
}

/*

NAV --------------------------

*/

.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 32px;  */
}

.nav__logo--wrapper {
  width: 40px;
  margin-right: 12px;
}

.nav__logo--text {
  font-weight: 900;
  font-size: 1.5rem;
  margin-right: 24px;
  padding-bottom: 4px;
  color: rgb(36, 62, 99);
  letter-spacing: 0.6px;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.nav__link--anchor {
  color: rgb(36, 62, 99);
  padding-bottom: 4px;
  border-bottom: solid 2px rgba(100, 21, 255, 0);
  /* border-bottom: solid 2px transparent; */
  transition: all 250ms ease-in;
  letter-spacing: 0.35px;
}

.nav__link:hover .nav__link--anchor {
  border-bottom: solid 2px rgba(100, 21, 255, 1);
  color: rgb(100, 21, 255);
}

.nav__close-btn--wrapper {
  display: none;
}

.nav__hamburger-btn {
  border: none;
  width: 24px;
  height: 24px;
  display: none;
  padding-bottom: 14px;
}

.nav__hamburger-icon {
  font-size: 28px;
}

/*

HEADER

*/

.header--left-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header__title {
  font-size: 3rem;
  line-height: 1.25;
}

.header__description {
  margin: 32px 0;
}

.header__input--wrapper {
  border: 2px solid #e2e8f0;
  display: flex;
  border-radius: 999px;
  padding: 6px 8px;
  transition: border-color 300ms ease;
}

.header__input--wrapper:hover {
  border-color: #cbd5e2;
}

.header__input--wrapper:focus-within {
  border-color: rgb(100 21 255);
}

.header__input--email {
  border: none;
  border-width: 0;
  margin-left: 24px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(36, 62, 99);
  /* padding: 20px 32px; */
}

.header__input--email:focus {
  outline-width: 0;
}

.header__input--email::placeholder {
  color: #cbd5e2;
}

.header__logo-strip--text {
  text-transform: uppercase;
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
}

.header__logo-strip--img {
  margin-top: 16px;
  margin-bottom: 48px;
  opacity: 0.5;
  padding-right: 128px;
}

.header--right-container {
  max-width: 750px;
}

.header__btn {
  padding: 16px 32px;
  font-size: 16px;
}

/*

HIGHLIGHTS

*/

.features__container {
  color: #7c8ba1;
}

.features__highlights-list {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* .highlight {
  width: calc(100%/3);
} */

.highlight--container {
  width: calc(100% / 3);
  padding: 32px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.highlight__img--wrapper {
  padding: 20px;
  border-radius: 999px;
  border: solid 1px rgb(226, 232, 240);
}

.highlight__img {
  width: 24px;
}

.highlight--text-wrapper {
  margin-left: 16px;
  margin-top: 8px;
  text-align: start;
}

.highlight__title {
  font-size: 24px;
}

.highlight__description {
  font-size: 16px;
  margin-top: 16px;
  line-height: 2;
  color: #7c8ba1;
}

/*

QUALITY

*/

.quality__btn {
  margin-top: 32px;
}

/*

STEPS

*/

.step--wrapper {
  margin-top: 32px;
  display: flex;
}

.step--wrapper:first-child {
  margin-top: 16px;
}

.step--text-wrapper {
  margin-left: 24px;
  max-width: 320px;
}

.step__number {
  font-size: 36px;
  color: #cbd5e2;
  font-weight: 600;
}

.step__title {
  font-size: 20px;
  color: #243e63;
}

.step__description {
  color: #718096;
  font-size: 14px;
  margin-top: 12px;
  line-height: 2;
}

/*

VALUES

*/

.values--list-container {
  align-items: start;
}

.value--container {
  margin-top: 32px;
  margin-right: 32px;
}

.value__title--wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}

.value__icon--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 9999px;
}

.icon--money {
  color: rgb(39 103 73);
  background-color: rgb(154 230 180);
}

.icon--briefcase {
  color: rgb(155 44 44);
  background-color: rgb(254 178 178);
}

.value__icon {
  width: 20px;
  opacity: calc(200% / 3);
}

.value__title {
  margin-left: 12px;
  font-size: 20px;
}

.value__description {
  margin-top: 16px;
  color: #718096;
  font-size: 16px;
}

.values__btn {
  margin-top: 48px;
}

/*

PRICING

*/

.plans--container {
  display: flex;
  align-items: flex-start;
}

.plan--container {
  margin-top: 64px;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow:
    0 /* horizontal */
    8px /* vertical offset */
    16px /* blur */
    rgba(0, 0, 0, 0.2); /* red green blue alpha (alpha=opacity) */
}

.plan--wrapper {
  padding: 8px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plan__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.625;
  color: #1a202c;
  padding-top: 32px;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
  line-height: 1.625;
}

.plan__subtitle {
  color: #a0aec0;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.plan--features-container {
  padding: 32px;
  width: 100%;

  border-top: solid;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgba(226, 232, 240);
}

.plan__main-feature {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.625;
}

.plan__feature {
  margin-top: 20px;
  color: #718096;
}

.plan__btn--wrapper {
  padding: 32px 96px;
  width: 100%;
}

.plan__btn {
  padding: 16px 32px;
  width: 100%;
}

.plan__color-strip--green,
.plan__color-strip--red {
  height: 8px;
  width: 100%;
}

.plan__color-strip--green,
.plan__btn--green {
  background-image: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__color-strip--red,
.plan__btn--red {
  background-image: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan--purple-bg {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  padding-top: 8px;
  margin-right: 32px;
  margin-left: 32px;
}

/*

TESTIMONIALS

*/

/* .testimonials__img {
  max-width: 640px;
} */

.testimonials__slides--container {
  margin-top: 40px;
}

.slide__star-icon {
  color: rgb(246 173 85);
}

.slide__title {
  font-size: 20px;
  margin-top: 16px;
}

.slide__description {
  margin: 16px 0 40px;
  color: #4a5568;
  font-size: 16px;
  line-height: 1.625;
}

.slide__bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide__person {
  display: flex;
  align-items: center;
  max-width: 264px;
  width: 100%;
}

.slide__person--img {
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 80px; /* CANNOT go below this width. */
  height: 80px;
  background-image: url(./assets/testimonial-profile-1.jfif);
  background-size: cover;
}

.slide__person--wrapper {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex: 0 0 150px; */
}

.slide__person-name {
  font-size: 20px;
  line-height: 1.5;
}

.slide__person-job {
  line-height: 1.5;
  font-size: 16px;
  color: #7c8ba1;
}

.slide__btns {
  display: flex;
}

.slide__btn {
  padding: 16px;
  margin: 0 12px;
  display: inline-block;
  background-color: rgb(237 242 247);
  border: none;
  border-radius: 50%;
  display: flex;
  transition: background-color 300ms ease;
}

.slide__btn--icon {
  color: rgb(100 21 255);
  font-size: 16px;
}

.slide__btn:hover {
  background-color: #e2e8f0;
}

/*

FAQ

*/

.questions {
  max-width: 896px;
  width: 100%;
  text-align: left;
}

.question__description {

}

.question {
  margin-top: 20px;
  padding: 16px 40px;
  border-radius: 8px;
  transition: background-color 300ms ease-out;
  background-color: rgb(237 242 247);
}

.question:hover {
  background-color: rgb(226, 232, 240);
  cursor: pointer;
}

.question__title--wrapper {
  display: flex;
  justify-content: space-between;
}

.question__title {
  font-size: 20px;
  font-weight: 600;
}

.question__answer {
  font-size: 16px;
  line-height: 1.625;
  margin-top: 0px;
  color: rgb(45 55 72);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.question__btn {
  border: none;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  transform: rotate(0);
  transition: transform 300ms ease;
}

.question.active .question__btn {
  transform: rotate(180deg);
}

.question.active .question__answer {
  opacity: 1;
  max-height: 10000px;
  animation: toggle__answer 300ms ease;
  transition: opacity 300ms 100ms ease;
  margin-top: 16px;
}

@keyframes toggle__answer {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

/*

CTA

*/

.container--cta {
  margin-bottom: 96px;
}

.cta--wrapper {
  background-color: rgb(100 21 255);
  border-radius: 8px;
  overflow: hidden;
}

.cta--container {
  padding: 96px 32px;
  width: 100%;
}

.cta__title {
  color: #f7fafc;
  font-size: 30px;
  line-height: 1.5;
  max-width: 480px;
}

.cta__btns--container {
  width: 50%;
  display: flex;
  justify-content: end;
}

.cta__btn {
  width: 160px;
  font-size: 16px;
  color: white;
  padding: 20px 40px;
  margin-right: 32px;
  white-space: nowrap;
}

.cta__btn--orange {
  background-color: #f56565;
  border: 0;
}

.cta__btn--orange:hover {
  background-color: #e53e3e;
}

.cta__btn--transparent {
  border: solid 1px;
  background-color: none;
}

.cta__btn--transparent:hover {
  background-color: #f7fafc;
  color: rgb(100 21 255);
}

/*

FOOTER

*/

.footer--container {
  background-color: rgb(100 21 255);
  margin: 0 -32px -32px;
  padding-left: 64px;
  padding-right: 64px;
}

.footer--wrapper {
  flex-direction: column;
  align-items:stretch
}

.col__title,
.col__link {
  color: #f7fafc;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  padding-bottom: 64px;
  border-bottom: solid 2px rgb(116, 44, 255, 0.8);
  /* margin-top: -48; */
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.col__title {
  margin-bottom: 36px;
}

.col__link {
  font-size: 14px;
  margin-top: 12px;
  line-height: 1.5;
}

.footer__socials {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__brand {
  display: flex;
  align-items: center;
}

.socials__logo-img {
  width: 32px;
}

.socials__logo-txt {
  font-size: 20px;
  color: #f7fafc;
  font-weight: 900;
  margin-left: 8px;
}

.socials__copyright {
  color: #cbd5e2;
  font-size: 16px;
}

.socials__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__icon {
  font-size: 16px;
  text-align: center;
}

.socials__btn {
  padding: 8px;
  margin-right: 16px;
  width: 32px;
  background-color: #f7fafc;
  border: none;
  border-radius: 50%;
  overflow: hidden;
}

/*

BREAKPOINTS

1279
1023
767
639

*/

@media (max-width: 1280px) {
  .header__img {
    max-width: 512px;
  }

  .header__title {
    font-size: 36px;
  }

  .header__description {
    font-size: 16px;
  }

  /* .header--container {
    justify-content: space-between;
    align-items: end;
  } */

  .plan__btn--wrapper {
    padding: 32px 64px;
  }
}

@media (max-width: 1024px) {

  .section__title {
    font-size: 36px;
  }

  .nav__hamburger-btn {
    display: inline-block;
  }

  .nav__links {
    /* menu that pops up on hamburger click */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 64px;
    background-color: white;
    flex-direction: column;
    z-index: 99;
    /* display: none; */
  }

  .nav__close-btn--wrapper {
    display: inline-block;
    position: absolute;
    right: 32px;
    top: 48px;
  }

  .nav__close-btn, .nav__close-btn-icon {
    font-size: 24px;
    border: none;
    background-color: 0;
    color: rgb(36, 62, 99);
  }

  .nav__links {
    visibility: hidden;
    /* opacity: 0; */
    transform: translateY(-100%);
    transition: transform 500ms ease;
    /* transition: opacity 0s 1s; */
  }


  .nav__links.menuActive {
    visibility: visible;
    /* opacity: 1; */
    transform: translateY(-0%);

  }

  .nav__link {
    margin: 12px 0;
    font-size: 18px;
  }

  .header--container,
  .header--left-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header--left-container {
    width: 100%;
    max-width: 512px;
  }

  .header__title {
    font-size: 1.875rem;
  }

  .header__description {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header__logo-strip--wrapper {
    display: flex;
    align-items: center;
  }

  .header__logo-strip--img {
    padding: 0;
  }

  .features__highlights--list {
    width: 800px;
  }

  .highlight--container {
    width: 45%;
  }

  /*.quality__description,
  .values__description */
  .section__description {
    font-size: 16px;
  }

  .values--wrapper {
    flex-direction: column;
  }

  .plans--container {
    flex-direction: column;
    align-items: center;
  }

  .plan--container {
    max-width: 384px;
    width: 100%;
  }


  .slide__btn:last-child {
    margin: 0;
  }

  /* .slide__bottom-panel {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  } */

  /* .testimonials--container {
    min-width: 390px;
  } */

  .question__title {
    font-size: 18px;
  }

  .cta--container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .cta__btns--container {
    margin-top: 24px;
    justify-content: center;
    width: 100%;
  }

  .cta__btn {
    margin: 0 16px;
  }
}

@media (max-width: 768px) {
  .container--vertical-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .highlight__title,
  .highlight__description {
    text-align: center;
  }

  .highlight--container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
  }

  .row--two-cols {
    flex-direction: column;
    max-width: 448px;
  }

  .container--column {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .column__img {
    margin-bottom: 64px;
  }

  .container--column.me--64,
  .container--column.ms--64 {
    /* remove margin from two column display */
    margin-left: 0;
    margin-right: 0;
  }

  .plan__price {
    font-size: 36px;
  }

  .step--wrapper {
    flex-direction: column;
  }

  .step--text-wrapper {
    margin-left: 0;
  }

  .step__title {
    font-weight: 600;
    margin-top: 12px;
  }

  .value__title--wrapper {
    justify-content: center;
  }

  .value__description {
    /* different than values description */
    max-width: 320px;
  }

  /*.features__sub-title,
  .quality__description,
  .step__description,
  .values__description,
  .pricing__description,
  .testimonials__subtitle */

  .section__description {
    font-size: 16px;
  }

  .footer__links {
    justify-content: start;
  }

  .footer__col {
    flex: 0 0 calc(100% / 3);
    /* width: calc(100% / 3); */
    margin-top: 48px;
  }

  .footer__socials {
    flex-direction: column;
  }

  .socials__copyright,
  .socials__links {
    margin-top: 32px;
  }
}

@media (max-width: 640px) {
  .section__title {
    font-size: 30px;
  }

  .pricing__title {
    font-size: 36px;
  }

  .header__input--wrapper {
    position: relative;
    padding: 0 32px;
    margin: 0 32px;
    width: 100%;
    max-width: 448px;
  }

  .header__input--email {
    padding: 16px 32px;
    width: 100%;
    margin: 0;
  }

  .header__btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -72px; /* -56 (height of button) - 16px margin */
    /* transform: translateY(115%); */
  }

  .header__logo-strip--text {
    margin-top: 120px; /*-72px (bottom of button) - 48px margin */
  }

  .highlight--container {
    width: 100%;
  }

  .highlight__description {
    max-width: 336px;
  }

  .plan__btn--wrapper {
    padding: 32px 48px;
  }

  .question {
    padding: 20px 32px;
  }

  .question__answer {
    font-size: 14px;
  }

  .cta__title {
    font-size: 24px;
  }

  .cta__btns--container {
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }

  .cta__btn {
    padding: 12px 24px;
    font-size: 14px;
  }

  .cta__btn:last-child {
    margin-top: 16px;
  }


  .footer--container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer__links {
    justify-content: center;
    text-align: center;
  }

  .footer__col {
    margin-top: 48px;
    flex: 1 1;
    min-width: 110px;
  }
}
